/* styles/navbar.css */
/* styles for app-navbar */

app-navbar {
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1b8786;
    color: white;

    min-height: 120px;
    height: auto;

    background-image: url("../assets/images/navbar_bg.png");
    background-size: auto 100%;
    background-repeat: repeat-x;
    background-position: left;

    padding: 1rem 5%;
    box-sizing: border-box;
    flex-wrap: wrap;
    gap: 20px;
  }

  .nav-left {
    display: flex;
    flex-direction: column;
    min-width: fit-content;
  }

  .nav-left h1 {
    font-weight: bold;
    font-style: italic;

    font-size: clamp(2rem, 5vw, 4rem);
    margin: 0;
  }

  .nav-left p {
    margin: 0;
    font-size: clamp(0.75rem, 1.5vw, 1rem);
  }

  .nav-right {
    display: flex;
    align-items: center;
  }

  .nav-right ul {
    gap: clamp(20px, 5vw, 100px);
    display: flex;
    justify-content: space-between;
    list-style: none; /* Keeps defaults clean */
    margin: 0;
    padding: 0;
  }

  .nav-right a {
    text-decoration: none;
    color: white;
    font-size: clamp(1.1rem, 2vw, 1.8rem);
    text-transform: uppercase;
    white-space: nowrap;
    transition: font-weight 0.2s ease;
  }

  .nav-right a:hover {
    font-weight: bold;
  }
}
