/* styles/navbar.css */
/* styles for app-navbar */

app-navbar {
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1b8786;
    color: white;
    height: 16.85vh;
    background-image: url("../assets/images/navbar_bg.png");
    background-size: auto 20.85vh;
    background-repeat: repeat-x;
    background-position: left;
    padding-inline: 150px;
  }

  .nav-left {
    display: flex;
    flex-direction: column;
    /* width: 100%; */
  }

  .nav-left h1 {
    font-weight: bold;
    font-style: italic;
    font-size: 4rem;
  }

  .nav-right {
    display: flex;
  }

  .nav-right ul {
    gap: 100px;
    display: flex;
    justify-content: space-between;
  }

  .nav-right a {
    text-decoration: none;
    color: white;
    font-size: 1.8rem;
    text-transform: uppercase;
  }

  .nav-right a:hover {
    font-weight: bold;
  }
}

/* Fonts */
@font-face {
  font-family: FuturaHeavy;
  src:
    url("/font/futura/FuturaLT-Heavy.woff") format("woff"),
    url("/font/futura/FuturaLT-Heavy.ttf") format("truetype");
}

@font-face {
  font-family: FuturaBoldOblique;
  src:
    url("/font/futura/FuturaLT-BoldOblique.woff") format("woff"),
    url("/font/futura/FuturaLT-BoldOblique.ttf") format("truetype");
}

@font-face {
  font-family: FuturaBook;
  src:
    url("/font/futura/FuturaLT-Book.woff") format("woff"),
    url("/font/futura/FuturaLT-Book.ttf") format("truetype");
}
